body{background-color: #ffffff; margin:1px 1px 1px 1px; font-weight: normal; font-family: Arial,Helvetica,sans-serif;; color:#666666;}

div{ margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}

a:link { text-decoration: none; color: #666666;}
a:active { text-decoration: none; color : #666666;}
a:visited { text-decoration: none; color : #666666;}
a:hover { text-decoration: none;  color: #f98740;}

table{ margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
ul li{margin:1px 0px 1px 1px; padding:1px 1px 1px 1px;}

.a0 {margin:0px 0px 1px 0px; padding:0px 0px 0px 0px; background-color: #f98740; background-image:url('/vn/vnm/img/TOP_Banner_newyear.gif'); height: 32px;}
.a1 {margin:0px 0px 1px 0px; padding:0px 0px 0px 0px; background-color: #f98740; background-image:url('/vn/vnm/img/Botton_Banner.jpg'); height: 14px;}
.aa {margin:0px 0px 1px 0px; padding:2px 0px 0px 5px; background-color: #f98740; background-image:url('/vn/vnm/img/tab_orange.gif'); height:auto;}
.ab {margin:0px 0px 2px 0px; padding:2px 0px 0px 5px; background-color: #8fd300; height:auto;}
.ac {margin:0px 0px 2px 0px; padding:2px 0px 0px 5px; background-color: #999999; background-image:url('/vn/vnm/img/tab_gray.gif'); height:auto;}
.ad {margin:0px 0px 2px 0px; padding:2px 0px 0px 5px; background-color: #e5e5e5; background-image:url('/vn/vnm/img/tile_xanh_bottom.gif'); height: 40px;}

.style1 {
			font-weight: bold;
			color: #ffffff;
		}
		
.style2 { 
			font-weight: bold;
			color:#333333;
		}

img {border:none;}
